@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

html,
body,
#root,
.app,
.content {
  width: 100%;
  height: 100%;
  font-family: "Cairo", sans-serif;
}

.app {
  display: flex;
  position: relative;
}
/* Scrollbar Setteng */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #3e4296b2;
  border: 1px solid rgb(129, 135, 141);
}
